.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.admin-form{
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

.button-form {
    margin-top: 20px;
    height: 40px;
}