.zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.zone-form{
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

.button-form {
    margin-top: 20px;
    height: 40px;
}