.container {
	display: flex;
	margin-top: 10px;
}

.link {
	text-decoration: none;
	color: inherit;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
